*{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 440;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e8e8f3;
    height: 100vh;
}
.form-login{
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: solid #dddd 1px;
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    width: 450px;
}
.form-login h1{
    font-size: 50px;
    padding: 20px 0px;
}
.field{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.field label{
    font-size: 18px;
    font-weight: 600;
}
.field input{
    height: 35px;
    padding: 6px;
    border-radius: 5px;
    border: solid #c1c1c1 1px;
} 
.field label:hover{
    font-size: 16px;
    transition: .8s;
}
.form-login button{
    padding: 12px;
    cursor: pointer;
    border: none;
    background-color: #2196f2;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
}
.form-login button:disabled{
    cursor: not-allowed
}
.form-login button:hover{
    background-color: #4aa4ee;
}
.form-login button:active{
    background-color: #5fafec;
}

.form-login p{
    text-align: center;
    font-size: 15px;
}
.form-login a{
    text-decoration: none;
    color: #2196f2;
}
.form-login a:hover{
    text-decoration:underline;
}